@model IEnumerable<Biblioteka.Models.BooksModel>
@inject SignInManager<IdentityUser> signInManager;

@{
	ViewData["Title"] = "List of books";
}

<h1 class="text-center">List of books in library</h1>

<p>
	<a asp-action="Create" class="btn btn-primary float-right m-5">Add New Book</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Authors)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Publishing)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Authors)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Publishing)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
					@if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
					{
						<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
